<div class="player-dashboard col-md-6">
  <h2><%= player.name %></h2>
   <%= form_tag player_path(player), method: :put do %>
    <table>
      <tr>
        <th>Size: </th>
        <td><%=player.size ? "#{player.size} cm" : "Waiting for race"%></td>
      </tr>
      <tr>
        <th>Weight:</th>
        <td><%=player.weight ? "#{player.weight} kg" : "Waiting for race"%></td>
      </tr>
      <tr>
        <th>Salary: </th>
        <td><%= player&.character_class&.salary || "Waiting for class" %></td>
      </tr>
      <tr>
        <th>Money: </th>
        <td><%= text_field_tag :money, player.money %></td>
      </tr>
      <tr>
        <th>Life points: </th>
        <td><%= text_field_tag :life_point, player.life_point %></td>
      </tr>
      <tr>
        <th>Fame: </th>
        <td><%= text_field_tag :fame, player.fame %></td>
      </tr>
      <tr>
        <th>Race</th>
        <td><%= select_tag(
          :character_race_id,
          options_for_select(CharacterRace.all.map { |cr| [cr.name, cr.id] },player.character_race_id)
        ) %></td>
      </tr>
      <tr>
        <th>Class: </th>
        <td><%= select_tag(
          :character_class_id,
          options_for_select(CharacterClass.all.map { |cc| [cc.name, cc.id] }, player.character_class_id)
        ) %></td>
      </tr>
    </table><br>
  
    <h3>Skills</h3>
    <table>
      <tr>
        <th>Skill</th>
        <th>Native</th>
        <th>Learned</th>
        <th>Bonus</th>
        <th>Total</th>
      </tr>
      <tr>
        <th>Charisma: </th>
        <td><%= player.native_charisma %></td>
        <td><%= text_field_tag :charisma_learned, player.charisma_learned %></td>
        <td><%= text_field_tag :charisma_bonus, player.charisma_bonus %></td>
        <td><%= player.native_charisma + player.charisma_learned + player.charisma_bonus %></td>
      </tr>
      <tr>
        <th>Intelligence: </th>
        <td><%= player.native_intelligence %></td>
        <td><%= text_field_tag :intelligence_learned, player.intelligence_learned %></td>
        <td><%= text_field_tag :intelligence_bonus, player.intelligence_bonus %></td>
        <td><%= player.native_intelligence + player.intelligence_learned + player.intelligence_bonus %></td>
      </tr>
      <tr>
        <th>Stealth: </th>
        <td><%= player.native_stealth %></td>
        <td><%= text_field_tag :stealth_learned, player.stealth_learned %></td>
        <td><%= text_field_tag :stealth_bonus, player.stealth_bonus %></td>
        <td><%= player.native_stealth + player.stealth_learned + player.stealth_bonus %></td>
      </tr>
      <tr>
        <th>Dexterity: </th>
        <td><%= player.native_dexterity %></td>
        <td><%= text_field_tag :dexterity_learned, player.dexterity_learned %></td>
        <td><%= text_field_tag :dexterity_bonus, player.dexterity_bonus %></td>
        <td><%= player.native_dexterity + player.dexterity_learned + player.dexterity_bonus %></td>
      </tr>
      <tr>
        <th>Constitution: </th>
        <td><%= player.native_constitution %></td>
        <td><%= text_field_tag :constitution_learned, player.constitution_learned %></td>
        <td><%= text_field_tag :constitution_bonus, player.constitution_bonus %></td>
        <td><%= player.native_constitution + player.constitution_learned + player.constitution_bonus %></td>
      </tr>
      <tr>
        <th>Speed: </th>
        <td><%= player.native_speed %></td>
        <td><%= text_field_tag :speed_learned, player.speed_learned %></td>
        <td><%= text_field_tag :speed_bonus, player.speed_bonus %></td>
        <td><%= player.native_speed + player.speed_learned + player.speed_bonus %></td>
      </tr>
      <tr>
        <th>Strength: </th>
        <td><%= player.native_strength %></td>
        <td><%= text_field_tag :strength_learned, player.strength_learned %></td>
        <td><%= text_field_tag :strength_bonus, player.strength_bonus %></td>
        <td><%= player.native_strength + player.strength_learned + player.strength_bonus %></td>
      </tr>
      <tr>
        <th>Mana: </th>
        <td><%= player.native_mana %></td>
        <td><%= text_field_tag :mana_learned, player.mana_learned %></td>
        <td><%= text_field_tag :mana_bonus, player.mana_bonus %></td>
        <td><%= player.native_mana + player.mana_learned + player.mana_bonus %></td>
      </tr>
    </table>
    <%= submit_tag "Enregistrer", class: "btn btn-success" %>
  <% end %>
</div>