<div class="player-dashboard col-md-6">
  <h2><%= player.name %></h2>
   <%= form_tag player_path(player), method: :put do %>
    <table>
      <tr>
        <th>Size: </th>
        <td><%=player.size ? "#{player.size} cm" : "Waiting for race"%></td>
      </tr>
      <tr>
        <th>Weight:</th>
        <td><%=player.weight ? "#{player.weight} kg" : "Waiting for race"%></td>
      </tr>
      <tr>
        <th>Salary: </th>
        <td><%= player&.character_class&.salary || "Waiting for class" %></td>
      </tr>
      <tr>
        <th>Money: </th>
        <td><%= text_field_tag :money, player.money %></td>
      </tr>
      <tr>
        <th>Life points: </th>
        <td><%= text_field_tag :life_point, player.life_point %></td>
      </tr>
      <tr>
        <th>Fame: </th>
        <td><%= text_field_tag :fame, player.fame %></td>
      </tr>
      <tr>
        <th>Race</th>
        <td><%= select_tag(
          :character_race_id,
          options_for_select(CharacterRace.all.map { |cr| [cr.name, cr.id] },player.character_race_id)
        ) %></td>
      </tr>
      <tr>
        <th>Class: </th>
        <td><%= select_tag(
          :character_class_id,
          options_for_select(CharacterClass.all.map { |cc| [cc.name, cc.id] }, player.character_class_id)
        ) %></td>
      </tr>
      <tr>
        <th>Charisma: </th>
        <td><%= (player&.character_race&.charisma || 0) + (player&.character_class&.charisma || 0) %></td>
      </tr>
      <tr>
        <th>Intelligence: </th>
        <td><%= (player&.character_race&.intelligence || 0) + (player&.character_class&.intelligence || 0) %></td>
      </tr>
      <tr>
        <th>Stealth: </th>
        <td><%= (player&.character_race&.stealth || 0) + (player&.character_class&.stealth || 0) %></td>
      </tr>
      <tr>
        <th>Dexterity: </th>
        <td><%= (player&.character_race&.dexterity || 0) + (player&.character_class&.dexterity || 0) %></td>
      </tr>
      <tr>
        <th>Constitution: </th>
        <td><%= (player&.character_race&.constitution || 0) + (player&.character_class&.constitution || 0) %></td>
      </tr>
      <tr>
        <th>Speed: </th>
        <td><%= (player&.character_race&.speed || 0) + (player&.character_class&.speed || 0) %></td>
      </tr>
      <tr>
        <th>Strength: </th>
        <td><%= (player&.character_race&.strength || 0) + (player&.character_class&.strength || 0) %></td>
      </tr>
      <tr>
        <th>Mana: </th>
        <td><%= (player&.character_race&.mana || 0) + (player&.character_class&.mana || 0) %></td>
      </tr>
    </table>
    <%= submit_tag "Enregistrer", class: "btn btn-success" %>
  <% end %>
</div>