<h1><%= @game.name %> <%= link_to 'Back', games_path %></h1>

<%= form_tag "/players", method: :post do %>
  <%= hidden_field_tag :game_id, @game.id %>
  <%= text_field_tag :name %>
  <%= submit_tag "New Player" %>
<% end %>

<div cass="player-list">
  <% @game.players.each do |player| %>
    <div class="player-card">
      <span><%= player.name %></span>
    </div>
  <% end %>
</div>
